.bg-color {
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #530060 0%, #c70881 88%);
	background: -webkit-linear-gradient(-45deg, #1e5799 0%,#530060 0%,#c70881 88%);
	background: linear-gradient(135deg, #1e5799 0%,#530060 0%,#c70881 88%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  height: 25vh;
  width: 35vh;
}

.text-success {
  color: white;
  font-size: 16px;
}

.icon-check {
  color: white;
  position: relative;
  left: 80px;
}

.loading {
  margin-left: 70px;
  margin-top: 20px;
}

.bg-img {
  background-image: url('../assets/images/noche.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns-start {
  bottom: 2rem;
  position: absolute;
}

.btn-color {
  background-color: transparent;
  border: 2px solid white;
}

.btn-color:hover {
  background-color: #E90C8C;
  color: white;
}

.btn-next {
  width: 20%;
  background-color: #E90C8C;
}

.btn-next:hover {
  background: linear-gradient(to right, #560061, #E50A8A);
  color: white;
}

.col-margin {
  margin-top: 2rem;
}

#resendCode {
  background-color: #BEBEBE;
  color: black;
}

#resendCode:hover {
  background: linear-gradient(to right, #560061, #E50A8A);
  color: white;
}

.bg-success {
  background: linear-gradient(to bottom right, #560061, #E50A8A);
  height: 100vh;
}

.content-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .bg-img {
    background-image:url('../assets/images/noche.gif');
  }

  .logo-pink {
    background-image: url('../assets/images/logo-pink.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
