<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/images/logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Lyft Lyfe</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 col-margin">
          <a href="verify.html"><i class="medium material-icons">chevron_left</i></a>
        </div>
        <div class="col s12 center-align">
          <h3>Sign Up</h3>
          <h5>Join now for free ride credit</h5>
        </div>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="inputName" type="text" class="validate">
            <label for="icon_prefix">Full Name</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="inputEmail" type="text" class="validate">
            <label for="icon_telephone">Email</label>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col s10 push-s1">
          <form action="#">
            <p class="center-align">
              <input type="checkbox" class="filled-in checkbox" id="filled-in-box">
              <label for="filled-in-box">I agree with the <a href="#">Terms and conditions</a></label>
            </p>
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 center-align">
      <a id="submit" class="waves-effect waves-light btn-large btn-next" disabled>Next</a>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
